rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /season2SportsInterest/{responseId} {
      allow create: if request.auth != null;
      allow read: if true;
      allow delete: if true;
      allow update: if false;
    }

    match /sportsRoster/{studentId} {
      allow read, create, update: if true;
      allow delete: if false;
    }
  }
}
